body {
    margin: 0;
    background-image: url("bg1.jpg");
  }
  
  .container {
    min-width: 900px;
    position: relative;
    width: 99vw;
    height: 100vh;
    overflow: hidden;
  }
  .container img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .container:hover img {
    transform: scale(1.2);
  }
  .container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
    font-family: 'Open Sans', cursive;
    font-size: 48px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    white-space: nowrap;
  }
  .container:hover h1 {
    opacity: 1;
  }

  .container .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
  }
  .container .button-container button {
    background-color: beige;
    border: none;
    color: black;
    border-width: 10px 20px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .container:hover .button-container button {
    opacity: 1;
  }

  .next-section {
    min-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 100;
    transition: opacity 0.5s ease-in-out;
  }
  .show-section {
    opacity: 1;
  }

   