
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  .box img{
    width: 100%;
    height: 100%;
    transition: scale(1.2);
    
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  